input[type="file"]::file-selector-button {
    background-color: #000000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #464646;
}

input[type="file"] {
    margin-right: 20px;
}

.btn {
    background-color: #000000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}
  
.btn:hover {
    background-color: #464646; 
}

.break-words {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.tab-button {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; 
    border: 1px solid #d3d3d3;
    background-color: #ececec;
    transition: background-color 0.3s ease;
}
  
.tab-button:hover {
    background-color: white;
}
  
.tab-button.active {
    background-color: white;
}

.border-black {
    border: 1px solid black;
}

.custom-hover:hover {
    background-color: rgba(232, 224, 224, 255);
}

.delete-btn {
    background-color: transparent;
    border: none;   
    color: rgba(83,172,255,255);
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 10px 20px;
}

.delete-btn:hover {
    color: rgba(185,221,255,255);
}

.pink-background {
    color: rgba(232,224,224,255); 
}

.file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}

.delete-message {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.pagination-button {
    background-color: white;
    border: 1px solid #ccc;
    color: #4a4a4a; 
    padding: 0.5rem 1rem; 
    border-radius: 0.375rem; 
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}
  
.pagination-button:hover {
    background-color: #e2e2e2; 
}
  
.pagination-button.active {
    background-color: rgba(55,88,250,255); 
    color: white; 
}

.pagination-button.disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    pointer-events: none;
}