input[type="file"]::file-selector-button {
    background-color: #000000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
/* Additional styles for the file input button */
input[type="file"]::file-selector-button:hover {
    background-color: #464646; /* Darker green on hover */
}
  
/* Add margin to the file input */
input[type="file"] {
    margin-right: 20px; /* Adjust the spacing as needed */
}

.btn {
    background-color: #000000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}
  
.btn:hover {
    background-color: #464646; 
}

.break-words {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.tab-button {
    border-radius: 0.5rem 0.5rem 0 0; /* Top rounded corners */
    border: 1px solid #d3d3d3;
    background-color: #ececec; /* Light gray background for inactive tabs */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
  
.tab-button:hover {
    background-color: white; /* Slightly darker gray on hover */
}
  
.tab-button.active {
    background-color: white;
}
  
.bg-white {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; /* Bottom rounded corners */
}
  
.bg-gray-200 {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; /* Top rounded corners */
}

.border-black {
    border: 1px solid black;
}
  